// GLOBAL

* {
  font-family: sans-serif, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
}

// CUSTOM VARIABLES

$color-scheme-1: #efc458;
$color-scheme-2: #ff9f52;
$color-scheme-3: #f66747;
$color-scheme-4: #1c4755;
$bg-white: #fff;

// MAIN

.section {
  padding: 100px 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 10px;
}

.btn-1 {
  font-weight: 600;
  color: $color-scheme-3;
  background-color: transparent;
  border: 1px solid $color-scheme-3;
  border-radius: 30px;
  padding: 5px 30px;
  transition: all 300ms ease-in-out;

  &:hover {
    color: $color-scheme-1;
    background: $color-scheme-3;
  }

  &.width-full {
    width: 100%;
    text-align: center;
  }
}

.title-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  color: $color-scheme-4;
  font-weight: 700;
  margin-bottom: 50px;

  &.second {
    color: $color-scheme-3;
  }
}

.wave-section {
  position: relative;
  width: 100%;
  background: $color-scheme-1;
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-size: 200px 100px;
    &.one {
      background: $color-scheme-1 url("");
    }
    &.two {
      background: $color-scheme-1 url("");
    }
    &.three {
      background: $color-scheme-1 url("");
    }
    &.four {
      background: $color-scheme-1 url("");
    }
    &.five {
      background: $color-scheme-1 url("");
    }
    &.six {
      background: $color-scheme-1 url("");
    }
    &.seven {
      background: $color-scheme-1 url("");
    }
    &.eight {
      background: $color-scheme-1 url("");
    }
  }
}

// MAIN STYLING

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px 40px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease-in-out;
  background: $color-scheme-1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

  .logo {
    color: $color-scheme-3;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;

    span {
      margin-left: 10px;
      color: $color-scheme-4;
    }
  }

  .nav {
    position: relative;
    display: flex;
    li {
      margin: 0px 0px 0px 20px;
      a {
        color: $color-scheme-4;
        font-weight: 300;
        text-transform: capitalize;
        transition: all 250ms ease-in-out;

        &:hover {
          color: $color-scheme-3;
        }
      }
    }
  }
}

.landing-page {
  background: $color-scheme-1;
  height: 100%;
  overflow-x: hidden;

  .container {
    width: 100%;
    min-height: 60vh;
    padding: 50px 20px 0px 20px;

    .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2rem;
      .img-box {
        img {
          padding-top: 50px;
          height: 300px;
        }
      }
      .title-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $color-scheme-3;

        span,
        h4 {
          font-size: 18px;
          font-weight: 400;
        }

        h2 {
          color: $color-scheme-4;
          font-size: 60px;
          font-weight: 700;
          line-height: 60px;
        }

        h4 {
          padding-top: 20px;
        }

        .btn-1 {
          margin-top: 40px;
          font-size: 20px;
        }
      }
    }
  }
}

.about-section {
  overflow-x: hidden;

  .container {
    padding: 20px 0;
    .row {
      display: flex;
      flex: 0 0 50%;
      padding: 30px;

      .img-box {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &.second {
          justify-content: flex-end;
        }

        img {
          width: 400px;
        }
      }

      .text-box {
        width: 50%;

        h2 {
          font-size: 55px;
          font-weight: 700;
          color: $color-scheme-3;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 32px;
          color: $color-scheme-4;
        }

        p {
          font-size: 18px;
          font-weight: 500;
          color: $color-scheme-2;
        }
      }
    }
  }
}

.services-section {
  overflow-x: hidden;
  background: $color-scheme-1;

  .container {
    @include grid(320px);
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 0px 10px;
    gap: 30px;

    .services-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      border-radius: 25px;
      max-width: 350px;
      height: 500px;
      padding: 20px;
      background-color: $color-scheme-2;

      .img-box {
        position: absolute;
        font-size: 30px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background: $color-scheme-1;
        color: $color-scheme-4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50px);

        &::before {
          content: "";
          position: absolute;
          left: -19px;
          bottom: 30px;
          height: 20px;
          width: 20px;
          background: transparent;
          border-top-right-radius: 30px;
          box-shadow: 11px -10px 0 10px $color-scheme-1;
        }

        &::after {
          content: "";
          position: absolute;
          right: -19px;
          bottom: 30px;
          height: 20px;
          width: 20px;
          background: transparent;
          border-top-left-radius: 30px;
          box-shadow: -11px -10px 0 10px $color-scheme-1;
        }
      }
      .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 50px;

        h2 {
          color: $color-scheme-3;
          font-size: 28px;
          line-height: 28px;
          margin-bottom: 10px;
        }

        p {
          color: $color-scheme-4;
          font-size: 18px;
        }
      }
    }
  }
}

.benefits-section {
  overflow-x: hidden;
  padding-bottom: 40px;
  .container {
    @include grid(500px);
    justify-content: center;
    justify-items: center;
    width: 100%;
    gap: 30px;
    padding: 0px 10px;

    .benefits-box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      max-width: 500px;
      min-height: 300px;
      padding: 20px;
      background: $color-scheme-1;

      .title-box {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px 0px 20px;

        .img-box {
          color: $color-scheme-4;
          font-size: 36px;
          margin: 0px 20px 0 0;
        }

        .title {
          font-size: 24px;
          text-transform: capitalize;
          color: $color-scheme-3;
          font-weight: 600;
        }
      }

      span {
        font-size: 18px;
        color: $color-scheme-4;
      }
    }
  }
}

.achievements-section {
  overflow-x: hidden;
  background: $color-scheme-1;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row {
      @include grid(250px);
      justify-content: center;
      align-items: center;
      justify-items: center;

      .achievements-box {
        margin: 20px;
        padding: 20px;
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        color: $color-scheme-4;
        background: $color-scheme-2;

        .fa-brain,
        .fa-chalkboard-user,
        .fa-chess-knight,
        .fa-user-check {
          font-size: 40px;
        }

        h4 {
          font-size: 50px;
        }

        h2 {
          font-size: 20px;
        }
      }
    }
  }
}

.workflow-section {
  overflow-x: hidden;
  .container {
    .row {
      padding: 40px 0px 0px;
      .workflow {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          top: 0;
          left: 50%;
          background: $color-scheme-1;
        }
        .row {
          .workflow-item {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0px 15px;

            &:nth-child(odd) {
              padding-right: calc(50% + 50px);
              text-align: right;

              .workflow-item-inner {
                &::before {
                  right: -50px;
                }

                .icon {
                  right: -70px;
                }
              }
            }
            &:nth-child(even) {
              padding-left: calc(50% + 50px);

              .workflow-item-inner {
                &::before {
                  left: -50px;
                }

                .icon {
                  left: -70px;
                }
              }
            }

            .workflow-item-inner {
              padding: 30px;
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              background: $color-scheme-1;
              -webkit-backdrop-filter: blur(20px);
              backdrop-filter: blur(20px);

              &::before {
                content: "";
                position: absolute;
                width: 50px;
                height: 1px;
                background: $color-scheme-1;
                top: 35px;
                z-index: -1;
              }

              .icon {
                position: absolute;
                height: 40px;
                width: 40px;
                line-height: 40px;
                top: 18px;
                border-radius: 50%;
                background: $color-scheme-3;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 600;
                color: $color-scheme-1;
              }

              span {
                font-weight: 700;
                font-size: 20px;
                color: $color-scheme-3;
                display: block;
                margin: 0px 0px 10px;
                text-transform: capitalize;
              }

              p {
                font-size: 16px;
                color: $color-scheme-4;
                line-height: 25px;
                margin: 15px 0px 0px;
              }
            }
          }
        }
      }
    }
  }
}

.faq-section {
  overflow-x: hidden;
  min-height: 60vh;
  background: $color-scheme-1;
  .container {
    padding: 0px 10px;
    .row {
      @include grid(350px);
      justify-content: center;
      justify-items: center;
      width: 100%;

      .item-box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        max-width: 350px;
        min-height: 200px;
        padding: 20px;
        background: $color-scheme-2;

        .profile-box {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .fa-user {
            font-size: 30px;
            color: $color-scheme-4;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            background: $color-scheme-1;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          span {
            font-size: 18px;
            font-weight: 600;
            color: $color-scheme-3;
          }
        }

        .text-box {
          text-align: center;
          color: $color-scheme-4;
          margin-top: 80px;
          h2 {
            font-size: 18px;
          }

          span {
            font-size: 16px;
          }
        }
      }
    }

    .button {
      margin: 50px 0px 0px;
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        .fa-arrow-right {
          padding: 0px 0px 0px 10px;
        }
      }
    }
  }
}

.review-section {
  min-height: 80vh;
  overflow-x: hidden;
  .container {
    .review {
      padding: 0px 0px 40px;
      .row {
        @include grid(23rem);
        gap: 20px;

        .review-item {
          width: 100%;
          padding: 0px 15px;
          margin: 0px 15px 40px 0px;
          p {
            font-size: 16px;
            font-weight: 500;
            color: $color-scheme-4;
            text-transform: capitalize;
            margin: 0px 0px 10px;
          }

          .progress {
            position: relative;
            height: 30px;
            border-radius: 30px;
            box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px -3px #f8f8f8;
            .progress-bar {
              position: absolute;
              background: $color-scheme-2;
              height: 16px;
              left: 7px;
              top: 7px;
              border-radius: 30px;
              span {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 16px;
                font-weight: 600;
                color: $color-scheme-4;
                margin-top: -40px;
              }
            }
          }
        }
      }
    }
  }
}

.footer-section {
  min-height: 60vh;
  background: $color-scheme-1;
  .container {
    position: relative;
    display: flex;
    justify-items: center;
    height: 100%;
    padding: 0px 20px;

    .row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
      gap: 10px;
      justify-content: center;

      .content-footer {
        &.head-box {
          grid-column: span 2;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .item-footer {
            justify-content: space-between;
            height: 150px;
          }
        }

        .title-footer {
          font-size: 22px;
          font-weight: 650;
          color: $color-scheme-3;

          &.head-title {
            font-size: 40px;
            line-height: 40px;

            span {
              color: $color-scheme-4;
            }
          }
        }
        .item-footer {
          margin: 10px 0px 0px;
          display: flex;
          flex-direction: column;

          span {
            font-size: 18px;
            font-weight: 400;
            color: $color-scheme-4;
            line-height: 28px;
            transition: all 300ms ease-in-out;

            &:hover {
              color: $color-scheme-3;
            }

            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
          &.follow-link {
            span {
              display: flex;
              flex-direction: row;
              transition: all 300ms ease-in-out;
              text-decoration: none;

              &:hover {
                a {
                  color: $color-scheme-3;
                }
              }
              .fa-facebook,
              .fa-twitter,
              .fa-instagram {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                width: 30px;
                height: 30px;
              }
              a {
                margin-left: 10px;
                color: $color-scheme-4;
              }
            }
          }
        }
      }
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  background-color: $color-scheme-4;

  a {
    font-weight: 600;
    color: $color-scheme-3;
  }
}

.mobileMenuToggle {
  display: none;
}

// RESPONSIVE

@media (max-width: 996px) {
  .title-text {
    font-size: 38px;
  }

  .mobileMenuToggle {
    display: block;
  }

  .fa-bars {
    display: flex;
    font-size: 30px;
  }

  .fa-times {
    display: none;
  }

  .nav-bar {
    .mobileMenuToggle {
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;

      &.active {
        z-index: 9999;
        .fa-times {
          display: block;
        }
      }
    }
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      transform: translateX(1000px);
      transition: all 500ms ease-in-out;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: $bg-white;

      &.active {
        transform: translateX(0px);
      }

      li {
        font-size: 32px;
        font-weight: 700;
      }
    }
  }

  .landing-page {
    padding: 0;
    margin: 0;

    .container {
      .row {
        flex-direction: column;

        .title-text {
          align-items: center;
          text-align: center;
        }
      }
    }
  }

  .about-section {
    .container {
      .row {
        flex-direction: column-reverse;
        .img-box,
        .text-box {
          padding: 20px 0px;
          width: 100%;
          justify-content: center;
          text-align: center;
        }

        .img-box.second {
          justify-content: center;
        }
      }
    }
  }

  .workflow-section {
    .container {
      .row {
        .workflow {
          &::before {
            display: none;
          }
          .row {
            .workflow-item {
              text-align: center;
              padding: 0px;
              margin: 20px;

              .workflow-item-inner {
                &::before {
                  display: none;
                }

                .icon {
                  display: none;
                }
              }

              &:nth-child(odd) {
                padding-right: 0px;
                text-align: center;
              }

              &:nth-child(even) {
                padding-left: 0;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .faq-section {
    .container {
      padding: 0px 10px;
    }
  }
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 5px 20px;

    .logo {
      font-size: 28px;
    }
  }

  .landing-page {
    .container {
      .row {
        .img-box {
          img {
            height: 250px;
          }
        }

        .title-box {
          span,
          h4 {
            font-size: 14px;
          }

          h2 {
            font-size: 35px;
            line-height: 35px;
          }

          .btn-1 {
            font-size: 18px;
          }
        }
      }
    }
  }

  .about-section {
    .container {
      .row {
        .img-box {
          img {
            width: 300px;
          }
        }
      }
    }
  }

  .benefits-section {
    .container {
      @include grid(350px);

      .benefits-box {
        max-width: 350px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
